{% extends 'layout.html' %}

{% block konten %}
<body style="background-color: red;">
    <nav style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <a href="i" style="text-decoration: none; font-weight: bolder; margin-top: 15px; text-align: center; line-height: 45pc; color: black; background-color: red; font-size: xx-large; ">I</a>
        <a href="g" style="text-decoration: none; font-weight: bolder; margin-top: 15px; text-align: center; line-height: 45pc; color: black; background-color: blue; font-size: xx-large;">G</a>
        <a href="s" style="text-decoration: none; font-weight: bolder; margin-top: 15px; text-align: center; line-height: 45pc; color: black; background-color: green; font-size: xx-large; ">S</a>
    </nav>
</body>
{% endblock %}